/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background: #FFF1F7 url("../images/cover-image-light.png") no-repeat center / cover fixed;
    --accent-color: #FF0070;
    --rectangle-color:#353430;
    --header-title-color: #FFC2E6;
    --content-title-color: #353430;
    --content-subtitle-color: #353430;
    --content-subtitle-background: #FF8DCB;
    --content-paragraph-color: #353430;
    --link: #353430;
    --link-shadow: #FF8DCB;
    --link-outline: #353430;
    --visibility: hidden;
    --rectangle-padding: 20px;
    --rectangle-size: 25px;
    --button-outline-color: rgb(50 49 45 / 0.4);
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background: #FFF1F7 url("../images/cover-image-light.png") no-repeat center / cover fixed;
  --accent-color: #FF0070;
  --rectangle-color:#353430;
  --header-title-color: #FFC2E6;
  --content-title-color: #353430;
  --content-subtitle-color: #353430;
  --content-subtitle-background: #FF8DCB;
  --content-paragraph-color: #353430;
  --link: #353430;
  --link-shadow: #FF8DCB;
  --link-outline: #353430;
  --visibility: hidden;
  --rectangle-padding: 20px;
  --rectangle-size: 25px;
  --button-outline-color: rgb(50 49 45 / 0.4);
}
