/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background: #000028 url("../images/cover-image-dark.png") no-repeat center / cover fixed;
  --accent-color: #FF0070;
  --rectangle-color:#FF0070;
  --header__title-color: #DB00FF;
  --content__title-color: #FF0070;
  --content__subtitle-color: #000028;
  --content__subtitle-background: #FF0070;
  --content__paragraph-color: #F1B2CE;
  --font-size: 18px;
  --section__margin-blok-end: 80px;
  --section__padding-inline-side: 20px;
  --link: #F1B2CE;
  --link-shadow: #FF0070;
  --link-outline: #F1B2CE;
  --visibility: hidden;
  --rectangle_padding: 20px;
  --rectangle_size: 25px;
  --button-outline-color: #FF0070;
}
